.header {
  height: 50px;
  padding: 1rem;
  background-color: #00a5e4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__getLatestOrder {
  background-color: #494a4c !important;
}
.searchBar {
  background-color: #fffc !important;
  height: 24px !important;
  /* max-height: 20px !important; */
  padding: 1rem;
}
