.resultViewer {
  flex: 0.45;
  margin: 8px;
}

.resultViewer__container {
  height: 100%;
}
.resultViewer__top {
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
}
.resultViewer__bottom {
  flex: 0.5;
  padding: 1rem;
  overflow-y: auto;
}
.custom__input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: 1px dashed grey;
  border-radius: 3px;
  height: 7rem;
  width: 10rem;
  margin-top: 1rem;
}

.MuiBox-root {
  border: none !important;
  outline: none;
  border-radius: 0.625rem;
}

.resultViewer__header {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.resultViewer__actionContainer {
  margin-left: auto !important;
  margin-right: auto !important;
}

.resultViewer__save {
  width: 8rem;
}

.questionContainer__review {
  width: 100%;
  height: 10rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.questionContainer__review:focus {
  outline: none !important;
  border: 2px solid #00a5e4;
}

.resultViewer__figsList {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.resultViewer__figsIcon {
  font-size: 4rem !important;
  color: #1c84ff;
  cursor: pointer;
}

.resultViewer__figsIcon:hover {
  transform: scale(1.02);
}

.resultviewer__finalAction {
  margin-top: 1rem;
  justify-content: flex-end;
}

.selectOptions__dropdown {
  width: 100%;
}
