.title {
  text-align: center;
  width: 100%;
}

.Box {
  flex-direction: column;
}

.dropdown {
  margin: 10px 0 10px 0;
}

.resultviewer__finalAction {
  margin-top: 1rem;
  margin-bottom: 3em;
  justify-content: flex-end;
}
